@layout('main')

@section('content')
  <h2 class="mt-2">Welcome to the Recipe Blog.</h2>
  <hr class="mtb-2">
  <p>This blog is written to learn how to use AdonisJS, an MVC framework for use with NodeJS.</p>
@endsection