<nav>
  <div class="container u-clear">
    <h1>Recipe Blog</h1>
    <ul class="u-float-r">
      <a href="/">
        <li>
          Home
        </li>
      </a>
      <a href="/recipes">
        <li>Recipes</li>
      </a>
      <a href="/add">
        <li>
          Add Recipe
        </li>
      </a>
    </ul>
  </div>
</nav>